# .NET build directories
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# JetBrains Rider project files
.idea/

# VS Code settings
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer patches
*.patch

# Windows specific
Thumbs.db
ehthumbs.db

# ASP.NET temporary files
.vs2019/
.vs2017/
.vs/

# ASP.NET Core local development
appsettings.Development.json

# NPM package logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local NPM package
node_modules/

# Build and packaging files
dist/
build/